<a href="https://colab.research.google.com/github/keanguzon/OOP58001/blob/main/Fundamentals_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("5>2")

5>2

Python Comment

In [ ]:
#This is a comment
print("Hello World!")

Hello World!

Python Variable

In [ ]:
x=1
#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variables with single value
a = b= c= "Kin"
print (a,b)
print (b)
print (c)

[1, 2, 3]
Kin Kin
Kin
Kin

Casting

In [ ]:
n= print (4)
print (n)

4
None

Type Function

In [ ]:
c = "kin"
d = 5.6

print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

“Double quotes” or ‘Single’ quotes

In [21]:
y = "kin"
y = 'kin'

Case sensitive

In [22]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [23]:
x, y, z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [26]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [27]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

Other way

In [30]:
x="Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

Arithmetic Operators

In [32]:
x = 5
y = 3
print (x+y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [31]:
a,b,c = 0,-1,6
c%=3
c

0