<a href="https://colab.research.google.com/github/keanguzon/OOP58001/blob/main/loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [2]:
week = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

break statement

In [11]:
week = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday"]
for x in week:
  print (x)
  if x == "Thursday": 
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [18]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Thursday":
    print(x)            #It only displays Thursday
    break

Thursday

In [19]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Wednesday":
    print(x)            #It displays Wednesday and Thursday
    break
for y in week:
  if y=="Thursday":
    print(y)            
    break

Wednesday
Thursday

Looping through a string

In [20]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [21]:
adjective=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [22]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [23]:
#Using break statement
i=1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [24]:
i=1
while i < 6:
  if i == 3:
    print(i)     #Print only 3
    break
  i+=1

3

In [39]:
#The else statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's Try

In [40]:
i = 0
while i <= 10:
  print("Hello" , i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [45]:
i = 3
while i< 10:
  print(i)
  i += 1

3
4
5
6
7
8
9